$bgbody:rgba(133, 133, 133, 0.151);
$bgwhite: rgba(255, 255, 255, 0);
$bgtransparente: rgba(255, 255, 255, 0);

$smediaicon:rgb(39, 39, 39);
$link-color: rgb(44, 44, 44);

$mainfontweigth: 700;
$spancolor: rgb(51, 82, 255);