@import "config";
@import "main";
@import "aside-rigth";

// estilizado de pagina general
.pagina
{
    background-color: $bgbody;
}

/*Estilizado de fuentes*/
.fontmorado{
    color: $spancolor;
}

/*Estilizado de nav bar izquierda*/
.colrecua{
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
}

.navicon{
    margin-right: 10px;
}
.colnav{
    margin-left: 5px;
}

// aside derecho

.navbold{
    font-weight: $mainfontweigth;
    font-size: large;
    margin: 10px;

}

.smediabtn{
    margin: 2px;
}
.colnavsmedia{
    margin-left: 5px;
    margin: 10px 0 10px 0;
    text-decoration: none;
      
}
.smediabtn{
    color: $link-color;
    
}

.navartlist{
    list-style-type: circle;
}